<footer class="my-5 pt-5 text-muted text-center text-small" style="padding-top: 0.1rem!important;">
  <p class="mb-1">© 2018 Peter Soboyejo</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="https://github.com/dzt/shopify-monitor">Repository</a></li>
    <li class="list-inline-item"><a href="https://github.com/dzt/shopify-monitor/issues">Issues</a></li>
    <li class="list-inline-item"><a href="https://github.com/dzt/shopify-monitor/wiki">Wiki</a></li>
  </ul>
</footer>
</body>
</html>
