{% include "partials/header.html" %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stores">Stores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logs">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="container">

  {% if needsRestart %}
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-color: #efac0fcf;">
    <a class="btn btn-sm btn btn-outline-light" href="/restart" style="margin-right: 20px; width: 64px;">Restart</a>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Restart Required</h6>
      <small>In order to apply changes on your tasks, you must restart.</small>
    </div>
  </div>
  {% endif %}

  {% if status == 'Active' %}
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-color: #4ea523cf;">
    <a class="btn btn-sm btn btn-outline-light" href="/stop" style="margin-right: 20px; width: 64px;">Stop</a>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Currently Active</h6>
      <p id="startTime" hidden>{{ startTime }}</p>
      <small id="uptime">Started</small>
    </div>
  </div>
  {% endif %}

  {% if status == 'Stopped' %}
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-color: #f70f0fcf;">
    <a class="btn btn-sm btn btn-outline-light" href="/start" style="margin-right: 20px; width: 64px;">Start</a>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Currently Inactive</h6>
    </div>
  </div>
  {% endif %}

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Newly Added Products</h6>

    {% for item in newItems %}
      <div class="media text-muted pt-3">
        <img alt="32x32" class="mr-2 rounded" style="width: 32px;height: 32px;" src="{{item.image}}" onerror="this.src='https://i.imgur.com/APRR3yT.png'"
          data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{item.title}}
          </strong>{{item.dateAdded}} — {{item.site}}
        </p>
      </div>
    {% endfor %}

    {% if isEmpty %}
    <span class="d-block" style="padding-top: 13px;">No newly added products found in the database at the moment. Give the monitor some time to pick em up my guy.</span>
    {% endif %}

    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
      </small>
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Stores being monitored</h6>

    {% for store in stores %}
      <div class="media text-muted pt-3">
        <div alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px; background-color: {{ store.color }};"></div>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">{{ store.url }}</strong>
            <a href="#">Edit</a>
          </div>
            <span class="d-block">{{ store.lastItemCount }} Total Items Stored</span>
        </div>
      </div>
    {% endfor %}

    <small class="d-block text-right mt-3">
      <a href="/stores">All stores</a>
      </small>
  </div>
</main>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
  window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script>
setInterval(function() {
  var dataStamp = $('#startTime').text();

  $('#uptime').text('Started ' + moment(dataStamp, 'x').fromNow())
}, 1000);
</script>
{% include "partials/footer.html" %}
